<div id="footer">
  <div class="container">
    <div class="row">
      <br>

      <div class="col-md-4">
        <center>
          <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
          <br>
          <h4 class="footertext">Adresse</h4>

          <p class="footertext">Bergen<br>
        </center>
      </div>
      <div class="col-md-4">
        <center>
          <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
          <br>
          <h4 class="footertext">Kontakt oss</h4>

          <p class="footertext">Telefon og epost<br>
        </center>
      </div>
      <div class="col-md-4">
        <center>
          <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
          <br>
          <h4 class="footertext">Mer informasjon</h4>

          <p class="footertext">Mer info om selskapet her.<br>
        </center>
      </div>
    </div>
    <div class="row">
      <p>
      <center><a href="#">Design by leffen</a>

        <p class="footertext">2015</p></center>
      </p>
    </div>
  </div>
</div>