<div class="services">
  <div class="row">
    <h1>Våre produkter</h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 article">
      <h2>System spesifikasjon</h2>

      <p>
        ProgBit medarbeidere har lang erfaring i system design av telekom-, radio-, data- og instrumenteringsprodukter. Med vår erfaring kan vi hjelpe deg å gjøre de beste beslutningene på systemnivå. Noen funksjoner er best å gjøre i en FPGA og andre bør gjøres av en mikrokontroller. Vi vet hvilke!
      </p>
    </div>

    <div class="col-xs-12  col-sm-3 article">

      <h2>System gjennomgang</h2>

      <p>
        Det er lurt å ha en gjennomgang av konseptet før gjennomføring. Når hardware design har startet kan det være vanskelig å gjøre endringer. Å få en ekstern sparringspartner for å vurdere dine ideer kan lønne seg på lang sikt.
      </p>
    </div>

    <div class="col-xs-12 col-sm-3 article">
      <h2>Valg av FPGA</h2>

      <p>Basert på kundes behov</p>

      <p>FPGAer har blitt svært komplekse, og det er vanskelig å velge den rette. FPGA leverandørene kan hjelpe deg,
        men de vil bare plukke det beste fra sin portefølje. Kanskje det beste er fra en annen leverandør? Vi er ikke
        forpliktet til noen leverandør og vil plukke den optimale leverandør og FPGA for ditt behov.
      </p>
    </div>
    <div class="col-xs-12 col-sm-3 article">
      <h2>Nyheter</h2>

    </div>

  </div>
</div>
