.header {
  padding-left: 10px;
  background-color: black;
  color: white;
}

.tech_background {
  background-image: image-url("demo3.jpg");
}

.carousel {
  height: 420px;
  background-color: white;
  opacity: 0.5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item img {
  max-height: 350px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left:0;
  font-size: 30px;
  font-weight: bold;
  height: 100%;
  text-transform: uppercase;
  width: 100%;
}